{%extends "blog/base.html"%}
{%block content%}
    <div class="content-section">
        <div><h1>Delete Post</h1></div>
        <form method="POST">
            {% csrf_token %}
            <h2> Are you sure you want to delete the post?</h2>
            <div >
                <button class="btn btn-outline-danger"type="submit">Delete</button>
                <a class="btn btn-outline-secondary" href="{%url 'post-detail' object.id%}">Cancel</a>
            </div>

        </form>    




    </div>
{%endblock%}