{%extends "blog/base.html"%}
{%block content%}
    <div class="content-section">
        <div><h1>Join Today</h1></div>
        <form method="POST">
            {% csrf_token %}
                {{form.as_p}}
            <div >
                <button style="margin-top:20px; background-color:white; border-color:#007BFF ; border-style:solid;border-width:1px;color:#007BFF"type="submit">Sign Up</button>
            </div>

        </form>    
        <div >
           
                Already Have An Account? <a href="{% url 'login' %}">Sign In</a>
            
        </div>



    </div>
{%endblock%}